@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  background-color: #eee9dd00;
}

// ---- Landing ----
.landing-container{
  background-color: #eee9dd;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.landing-header-conatiner{
  display: flex;
  justify-content: center;
}

.landing-header{
 font-size: 5rem;
 margin-top: 15rem;
}

.landing-subheader{
  font-style: italic;
  font-size: 1rem;
  margin-left: 8rem;
  margin-top: -3rem;
}

$ani-speed: 2s;
$ani-delay: 1s;


.landing-arrow {
    margin-top: 5rem;
    margin-left: -2.5rem;
    opacity: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: landing-arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: landing-arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.landing-arrow:before,
.landing-arrow:after {
    background: black;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.landing-arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.landing-arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Landing Arrow Animation
@keyframes landing-arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}


// ---- Landing ----
// ---- About ----

.about-container{
  background-color: burlywood;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

// ---- About ----
// ---- Footer ----
.center {
  display: table;
  width: 50%;
  height: 5vh;
  margin-top: 41rem;
  margin-left: 13rem;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  .social {
    padding-left: 0px;
  }
  li {
    color: black;
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 2px solid black;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.25s;
    border-radius: 9px;

    &:hover {
      color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
// ---- Footer ----
