@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

html, 
body {
  font-family: 'Reenie Beanie', cursive;
  background-color: #FFF5EB;
}

// ---- Landing ----
.landingContainer{
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #F4C7AB;
  justify-content: center;
  margin: 6rem;
  border-radius: 20px;
}

.landingHeaderWrapper{
  margin-left: -23rem;
}

.landingHeader{
  text-decoration: none;
  color: black;
  font-size: 9rem;
  font-weight: 700;
  position: relative;
  margin-top: 22vh;
  margin-left: 0rem;
  margin-bottom: 28rem;
}

.landingBtnWrapper{
  margin-bottom: 45rem;
  margin-top: 28rem;
  margin-left: -30rem;
  position: relative;
}

.landingBtn{
  padding: 10px;
  background-color: #FFF5EB;
}

.landingBtn:hover{
  background-color: brown;
}
// ---- Landing ----
// ---------------
// ---- Menu ----
.menuContainer{
  border: 1px solid black;
  height: 100vh;
  margin: 6rem;
  display: flex;
  position: relative;
  background-color: brown;
}

.menuHeaderWrapper{
  margin-top: -3rem;
}

.menuHeader{
  text-decoration: none;
  color: black;
  font-size: 5.5rem;
  font-weight: 400;
}

#menuHeaderStyling{
  margin: 1rem;
  margin-top: -0.5rem;
  margin-left: -1.5rem;
}

#menuHeaderStyling:hover{
  color: rgb(255, 255, 255);
}
// ---- Menu ----
// -------------------
// ---- Global Home Btn ----
.globalMenuBtn{
  background-color: coral;
}

.globalMenuBtn:hover{
  background-color: rgb(0, 0, 0);
}
// ---- Global Home Btn ----
// ------------------------
// ---- Footer ----
.center {
  display: table;
  width: 50%;
  height: 5vh;
  margin-top: 41rem;
  margin-left: 13rem;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  .social {
    padding-left: 0px;
  }
  li {
    color: black;
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 2px solid black;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.5s;
    &:hover {
      color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 255, 255);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
// ---- Footer ----

